#books{
background:url(book1.jpg) top center;
background-size:cover;
	width:100%;
	color:black;
	height:100vh;
	padding-top:20px;
	padding-left:30px;
	}
	.container{
		text-align:center;
		width:400px;
	}
	#loginform{
		display:none;
	}
	#error{
      margin-left:200px;}
	p{
		color:blue;
		font-size:20px;
		text-align:center;
	}
	.{
		float:left;
	}
	li a{
display: block;
color:white;
text-align: center;
padding: 14px 16px;
font-family:serif;
}
li{
	display:inline;
	float:left;
}